$deepNightBlue: #1d084b;
$royalPurple: #2e268b;
$lavenderBlue: #5e55c6;
$pastelLilac: #bcb6ff;
$lightpastelLilac: #bcb6ff40;
$softLavender: #f4f3ff;
$charcoalGray: #313131;
$midnightBlack: #1e1e1e;
$slateGray: #505050;
$lightslateGray: #505050b3;
$lightSilver: #d9d9d9;
$white: #fff;
$mbtiDetective: #d7bd92;
$billiG: #404767;
