@import './mixin';


//-----------height 반응형--------------------------//

@include landscape-600to800 {
    .mainpage {
      .mainpage-text {
        font-size: 44px;
      }
      p::after {
        height: 58px;
      }
    }
    .page-container {
      .contents {
        font-size: 18px;
      }
      .skills-page-contents {
        .subtitle {
          font-size: 20px;
        }
        .skills-page-list-contents {
          font-size: 14px;
        }
        .contents-detail {
          font-size: 12px;
        }
      }
      .contact-page-subtitle {
        font-size: 20px;
      }
      .contact-page-contents {
        font-size: 16px;
      }
    }
  
    .projects-page-container {
      .projects-page-title {
        font-size: 40px;
      }
      .projects-page-button-container {
        margin-bottom: 0;
      }
      .carousel-container {
        width: 80%;
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .carousel-image-title {
          font-size: 30px;
        }
      }
      .thumnaillist-container {
        width: 80%;
        overflow-y: scroll;
      }
    }
    .modal-background {
      .modal-container {
        width: 70%;
        height: 80%;
        overflow-y: scroll;
        padding: 60px 40px;
        font-size: 14px;
        .modal-contents-title {
          font-size: 24px;
        }
        .modal-contents-date {
          font-size: 14px;
        }
        .modal-contents-summary {
          font-size: 16px;
        }
        .modal-github-link-container {
          font-size: 11px;
          svg {
            width: 20px;
            height: 20px;
          }
        }
        .modal-carousel-container {
          height: 100%;
          img {
            height: 100%;
          }
        }
      }
    }
    .howiworkpage-container {
      .howiworkpage-title {
        font-size: 40px;
      } 
      .howiworkpage-contents {
        font-size: 20px;
      }
    }
    .experience-page-container {
      .experience-page-title {
        width: 80%;
        font-size: 40px;
      }
      .experience-page-subtitle {
        font-size: 24px;
      }
      .experience-page-image-box {
        img {
          height: 60%;
        }
      }
      .experience-page-text {
        width: 40%;
        font-size: 14px;
      }
    }
  }
  
  @include landscape-800to1130 {
    .mainpage {
      .mainpage-text {
        font-size: 44px;
      }
      p::after {
        height: 58px;
      }
    }
    .page-container {
      .contents {
        font-size: 18px;
      }
      .skills-page-contents {
        .subtitle {
          font-size: 20px;
        }
        .skills-page-list-contents {
          font-size: 14px;
        }
        .contents-detail {
          font-size: 12px;
        }
      }
      .contact-page-subtitle {
        font-size: 20px;
      }
      .contact-page-contents {
        font-size: 16px;
      }
    }
  
    .projects-page-container {
      .projects-page-title {
        font-size: 40px;
      }
      .projects-page-button-container {
        margin-bottom: 20px;
      }
      .carousel-container {
        width: 80%;
        height: 70%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .carousel-image-title {
          font-size: 30px;
          margin-top: 10px;
        }
        .circle-index-button-container {
          height: 60px;
          align-items: center;
        }
      }
      .thumnaillist-container {
        width: 80%;
        overflow-y: scroll;
        .thumnaillist-image-container {
          img {
            height: 90%;
          }
        }
      }
    }
    .howiworkpage-container {
      .howiworkpage-title {
        font-size: 40px;
      }
      .howiworkpage-contents {
        font-size: 20px;
      }
    }
    .experience-page-container {
      .experience-page-title {
        width: 80%;
        font-size: 40px;
      }
      .experience-page-subtitle {
        font-size: 30px;
      }
      .experience-page-image-box {
        img {
          height: 60%;
        }
      }
      .experience-page-text {
        width: 40%;
        font-size: 16px;
      }
    }
  }
  
  //-----------width 반응형--------------------------//
  
  @include mobile {
    .mainpage {
      .mainpage-text {
        font-size: 28px;
      }
      p::after {
        height: 32px;
      }
    }
    .header-container {
      .title {
        font-size: 24px;
      }
      .icon-container {
        width: 100px;
        button {
          height: 40px;
        }
        svg {
          width: 40px;
          height: 40px;
        }
      }
    }
    .page-container {
      height: auto;
      min-height: 100%;
      .page-title {
        width: 100px;
        height: 100px;
        font-size: 20px;
      }
      .subtitle {
        font-size: 14px;
      }
      .contents {
        font-size: 10px;
      }
      .skills-page-contents {
        width: 52%;
        .subtitle {
          font-size: 12px;
        }
        .skills-page-list-contents {
          font-size: 10px;
        }
        .contents-detail {
          font-size: 8px;
        }
      }
      .contact-page-subtitle {
        font-size: 12px;
      }
      .contact-page-contents {
        font-size: 10px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
    .projects-page-container {
      .projects-page-title {
        width: 100%;
        font-size: 20px;
      }
      .chevron-button-container {
        padding: 0;
        button {
          width: auto;
          height: auto;
          margin: 0;
        }
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .projects-page-button-container {
        width: 100%;
        margin-bottom: 20px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .carousel-container {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .carousel-image-title {
          font-size: 14px;
        }
        .carousel-image {
          width: 100%;
          height: 100%;
        }
        .circle-index-button-container {
          width: 100px;
          align-items: flex-end;
          .circle-index-button {
            width: 10px;
            height: 10px;
          }
        }
      }
      .thumnaillist-container {
        width: 80%;
        img {
          height: 100%;
        }
      }
    }
    .modal-background {
      .modal-container {
        width: 85%;
        height: 50%;
        overflow-y: scroll;
        padding: 30px 20px;
        font-size: 8px;
        .modal-contents-container {
          width: 50%;
        }
        .modal-carousel-container {
          width: 50%;
          height: 100%;
          img {
            height: 100%;
          }
        }
        .modal-contents-title {
          font-size: 12px;
        }
        .modal-contents-date {
          font-size: 10px;
        }
        .modal-contents-summary {
          font-size: 10px;
        }
        .modal-close-button {
          svg {
            width: 20px;
            height: 20px;
          }
        }
        .modal-github-link-container {
          font-size: 8px;
          margin-bottom: 10px;
          flex-direction: column;
          align-items: initial;
          svg {
            width: 10px;
            height: 10px;
          }
          a {
            font-size: 7px;
          }
        }
        .modal-skills-list {
          font-size: 10px;
          margin-top: 20px;
        }
      }
    }
    .experience-page-container {
      .experience-page-title {
        width: 100%;
        font-size: 20px;
        margin: 0;
      }
      .experience-page-subtitle {
        font-size: 12px;
      }
      .experience-page-middle-container {
        width: 100%;
      }
      .experience-page-contents {
        flex-direction: column;
      }
      .chevron-button-container {
        padding: 0;
        button {
          width: auto;
          height: auto;
          margin: 0;
        }
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .experience-page-image-box {
        width: 100%;
        align-items: center;
        img {
          width: 90%;
        }
      }
      .experience-page-text {
        width: 100%;
        font-size: 10px;
      }
    }
    .howiworkpage-container {
      .howiworkpage-contents {
        font-size: 10px;
        line-height: 2;
      }
      .howiworkpage-title {
        font-size: 20px;
      }
    }
  }
  
  @include mobile-to-tablet {
    .mainpage {
      .mainpage-text {
        font-size: 34px;
      }
      p::after {
        height: 44px;
      }
    }
    .header-container {
      .title {
        font-size: 32px;
      }
      .icon-container {
        width: 100px;
        button {
          height: 40px;
        }
        svg {
          width: 40px;
          height: 40px;
        }
      }
    }
    .page-container {
      height: auto;
      min-height: 100%;
      .page-title {
        width: 140px;
        height: 140px;
        font-size: 30px;
      }
      .subtitle {
        font-size: 16px;
      }
      .contents {
        font-size: 12px;
      }
      .skills-page-contents {
        width: 52%;
        .subtitle {
          font-size: 16px;
        }
        .skills-page-list-contents {
          font-size: 12px;
        }
        .contents-detail {
          font-size: 10px;
        }
      }
      .contact-page-subtitle {
        font-size: 14px;
      }
      .contact-page-contents {
        font-size: 12px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
    .projects-page-container {
      .projects-page-title {
        width: 80%;
        font-size: 30px;
      }
      .projects-page-button-container {
        width: 80%;
        margin-bottom: 20px;
        svg {
          width: 30px;
          height: 30px;
        }
      }
      .carousel-container {
        width: 80%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .carousel-image-title {
          font-size: 20px;
        }
        .carousel-image {
          width: 80%;
          height: 100%;
        }
        .circle-index-button-container {
          width: 120px;
          align-items: flex-end;
          .circle-index-button {
            width: 12px;
            height: 12px;
          }
        }
      }
      .thumnaillist-container {
        width: 80%;
        img {
          height: 100%;
        }
      }
    }
    .modal-background {
      .modal-container {
        width: 90%;
        height: 60%;
        overflow-y: scroll;
        padding: 40px 20px;
        font-size: 11px;
        p {
          line-height: 2;
        }
        .modal-contents-container {
          width: 50%;
        }
        .modal-carousel-container {
          width: 50%;
          height: 100%;
          img {
            height: 100%;
          }
        }
        .modal-contents-title {
          font-size: 16px;
        }
        .modal-contents-date {
          font-size: 10px;
        }
        .modal-contents-summary {
          font-size: 12px;
        }
        .modal-close-button {
          svg {
            width: 20px;
            height: 20px;
          }
        }
        .modal-github-link-container {
          font-size: 10px;
          margin-bottom: 10px;
          svg {
            width: 20px;
            height: 20px;
          }
        }
        .modal-skills-list {
          font-size: 12px;
          margin-top: 20px;
        }
      }
    }
    .experience-page-container {
      .experience-page-title {
        width: 80%;
        font-size: 30px;
        margin: 0;
      }
      .experience-page-subtitle {
        font-size: 20px;
      }
      .experience-page-middle-container {
        width: 80%;
      }
      .experience-page-contents {
        flex-direction: column;
      }
      .chevron-button-container {
        padding: 0;
        button {
          width: auto;
          margin: 0;
        }
      }
      .experience-page-image-box {
        width: 100%;
        align-items: center;
        img {
          width: 90%;
        }
      }
      .experience-page-text {
        width: 100%;
        font-size: 12px;
      }
    }
    .howiworkpage-container {
      .howiworkpage-title {
        font-size: 30px;
      } 
      .howiworkpage-contents {
        font-size: 14px;
        line-height: 2;
      }
    }
  }
  
  @include tablet {
    .mainpage {
      .mainpage-text {
        font-size: 40px;
      }
      p::after {
        height: 54px;
      }
    }
    .header-container {
      .title {
        font-size: 40px;
      }
      .icon-container {
        width: 160px;
        svg {
          width: 60px;
          height: 60px;
        }
      }
    }
    .page-container {
      height: auto;
      min-height: 100%;
      .page-title {
        width: 200px;
        height: 200px;
        font-size: 40px;
      }
      .subtitle {
        font-size: 20px;
      }
      .contents {
        font-size: 16px;
      }
      .skills-page-contents {
        width: 52%;
        .skills-page-list-contents {
          font-size: 16px;
        }
      }
    }
    .projects-page-container {
      .projects-page-title {
        width: 80%;
        font-size: 40px;
      }
      .projects-page-button-container {
        width: 80%;
        margin-bottom: 20px;
        svg {
          width: 40px;
          height: 40px;
        }
      }
      .carousel-container {
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .carousel-image-title {
          font-size: 30px;
        }
        .carousel-image {
          width: 80%;
          height: 100%;
        }
        .circle-index-button-container {
          width: 160px;
          align-items: flex-end;
          .circle-index-button {
            width: 16px;
            height: 16px;
          }
        }
      }
      .thumnaillist-container {
        width: 80%;
      }
    }
    .modal-background {
      .modal-container {
        width: 80%;
        height: 60%;
        overflow-y: scroll;
        padding: 40px 20px;
        font-size: 12px;
        .modal-contents-title {
          font-size: 24px;
        }
        .modal-contents-date {
          font-size: 12px;
        }
        .modal-contents-summary {
          font-size: 14px;
        }
        .modal-github-link-container {
          font-size: 10px;
          margin-bottom: 10px;
          svg {
            width: 20px;
            height: 20px;
          }
        }
        .modal-skills-list {
          font-size: 12px;
        }
        .modal-carousel-container {
          height: 100%;
          img {
            height: 100%;
          }
        }
      }
    }
    .experience-page-container {
      .experience-page-title {
        width: 80%;
        font-size: 40px;
        margin: 0;
      }
      .experience-page-subtitle {
        font-size: 30px;
      }
      .experience-page-middle-container {
        width: 80%;
      }
      .experience-page-contents {
        flex-direction: column;
      }
      .chevron-button-container {
        padding: 0;
        button {
          width: auto;
          margin: 0;
        }
      }
      .experience-page-image-box {
        width: 100%;
        align-items: center;
        img {
          width: 90%;
        }
      }
      .experience-page-text {
        width: 100%;
        font-size: 16px;
      }
    }
    .howiworkpage-container {
      .howiworkpage-title {
        font-size: 40px;
      }
      .howiworkpage-contents {
        font-size: 18px;
      }
    }
  }
  
  @include tablet-to-laptop {
    .mainpage {
      .mainpage-text {
        font-size: 50px;
      }
    }
    .header-container {
      .title {
        font-size: 40px;
      }
      .icon-container {
        width: 160px;
        svg {
          width: 60px;
          height: 60px;
        }
      }
    }
    .page-container {
      height: auto;
      min-height: 100%;
      .page-title {
        width: 200px;
        height: 200px;
        font-size: 44px;
      }
      .subtitle {
        font-size: 24px;
      }
      .contents {
        font-size: 20px;
      }
      .skills-page-contents {
        .skills-page-list-contents {
          font-size: 20px;
        }
      }
    }
    .projects-page-container {
      .projects-page-title {
        width: 80%;
        font-size: 44px;
      }
      .projects-page-button-container {
        width: 80%;
        margin-bottom: 20px;
        svg {
          width: 40px;
          height: 40px;
        }
      }
      .carousel-container {
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .carousel-image-title {
          font-size: 40px;
        }
        .carousel-image {
          width: 80%;
          height: 80%;
        }
      }
      .thumnaillist-container {
        width: 80%;
      }
    }
    .modal-background {
      .modal-container {
        width: 80%;
        padding: 60px 40px;
        font-size: 14px;
        .modal-contents-title {
          font-size: 24px;
        }
        .modal-contents-date {
          font-size: 14px;
        }
        .modal-contents-summary {
          font-size: 16px;
        }
        .modal-github-link-container {
          font-size: 12px;
          svg {
            width: 30px;
            height: 30px;
          }
        }
        .modal-carousel-container {
          height: 100%;
          img {
            height: 100%;
          }
        }
      }
    }
    .experience-page-container {
      .experience-page-title {
        width: 80%;
        font-size: 44px;
      }
      .experience-page-subtitle {
        font-size: 30px;
      }
      .experience-page-middle-container {
        width: 80%;
      }
      .chevron-button-container {
        padding: 0;
      }
      .experience-page-image-box {
        width: 60%;
        img {
          width: 90%;
        }
      }
      .experience-page-text {
        width: 40%;
        font-size: 18px;
      }
    }
    .howiworkpage-container {
      .howiworkpage-title {
        font-size: 44px;
      }
      .howiworkpage-contents {
        font-size: 24px;
      }
    }
  }
  
  @include laptop {
    .mainpage {
      .mainpage-text {
        font-size: 50px;
      }
    }
    .header-container {
      .title {
        font-size: 40px;
      }
      .icon-container {
        width: 160px;
        svg {
          width: 60px;
          height: 60px;
        }
      }
    }
    .page-container {
      height: auto;
      min-height: 100%;
      .page-title {
        width: 200px;
        height: 200px;
        font-size: 44px;
      }
      .subtitle {
        font-size: 24px;
      }
      .contents {
        font-size: 20px;
      }
      .skills-page-contents {
        .skills-page-list-contents {
          font-size: 20px;
        }
      }
    }
    .projects-page-container {
      .projects-page-title {
        width: 80%;
        font-size: 44px;
      }
      .projects-page-button-container {
        width: 80%;
        margin-bottom: 20px;
        svg {
          width: 40px;
          height: 40px;
        }
      }
      .carousel-container {
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .carousel-image-title {
          font-size: 40px;
        }
        .carousel-image {
          width: 80%;
          height: 80%;
        }
      }
      .thumnaillist-container {
        width: 80%;
      }
    }
    .modal-background {
      .modal-container {
        width: 80%;
        padding: 60px 40px;
        font-size: 14px;
        .modal-contents-title {
          font-size: 24px;
        }
        .modal-contents-date {
          font-size: 14px;
        }
        .modal-contents-summary {
          font-size: 16px;
        }
        .modal-github-link-container {
          font-size: 12px;
          svg {
            width: 30px;
            height: 30px;
          }
        }
        .modal-carousel-container {
          height: 100%;
          img {
            height: 100%;
          }
        }
      }
    }
    .experience-page-container {
      .experience-page-title {
        width: 80%;
        font-size: 44px;
      }
      .experience-page-subtitle {
        font-size: 30px;
      }
      .experience-page-middle-container {
        width: 80%;
      }
      .chevron-button-container {
        padding: 0;
      }
      .experience-page-image-box {
        width: 60%;
        img {
          width: 90%;
        }
      }
      .experience-page-text {
        width: 40%;
        font-size: 18px;
      }
    }
    .howiworkpage-container {
      .howiworkpage-title {
        font-size: 44px;
      }
      .howiworkpage-contents {
        font-size: 24px;
      }
    }
  }