@import './mixin';

// 너비 (960px ~ 1499px) x 높이 (~ 699px)
@include laptop-700 {
  .mainpage {
    .mainpage-text {
      font-size: 40px;
    }
  }
  .header-container {
    .title {
      font-size: 32px;
    }
    .icon-container {
      width: 140px;
      svg {
        width: 50px;
        height: 50px;
      }
    }
  }
  .page-container {
    .page-title {
      width: 160px;
      height: 160px;
      font-size: 30px;
    }
    .subtitle {
      font-size: 20px;
    }
    .contents {
      font-size: 14px;
    }
    .skills-page-contents {
      width: 340px;
      .skills-page-list-contents {
        font-size: 14px;
      }
    }
  }
  .projects-page-container {
    .projects-page-title {
      font-size: 30px;
    }
    .carousel-container {
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .carousel-image-title {
        font-size: 30px;
      }
      .carousel-image {
        width: 60%;
      }
      .circle-index-button-container {
        width: 160px;
        height: 40px;
        align-items: flex-end;
        .circle-index-button {
          width: 14px;
          height: 14px;
        }
      }
    }
    .thumnaillist-container {
      width: 60%;
      gap: 50px;
      img {
        height: 100%;
      }
    }
  }
  .experience-page-container {
    .experience-page-title {
      font-size: 30px;
      margin-bottom: 0;
    }
    .experience-page-subtitle {
      font-size: 24px;
    }
    .experience-page-middle-container {
      width: 80%;
    }
    .experience-page-box {
      padding: 2%;
    }
    .experience-page-contents {
      padding: 4%;
    }
    .chevron-button-container {
      padding: 0;
      button {
        width: auto;
        height: auto;
      }
    }
    .experience-page-image-box {
      width: 60%;
      img {
        width: 90%;
      }
    }
    .experience-page-text {
      width: 40%;
      font-size: 14px;
    }
  }
  .howiworkpage-container {
    .howiworkpage-title {
      font-size: 30px;
    }
    .howiworkpage-contents {
      font-size: 16px;
    }
  }
}

// 너비 (960px ~ 1499px) x 높이 (700px ~ 799px)
@include laptop-800 {
  .mainpage {
    .mainpage-text {
      font-size: 44px;
    }
  }
  .header-container {
    .title {
      font-size: 36px;
    }
    .icon-container {
      width: 140px;
      svg {
        width: 50px;
        height: 50px;
      }
    }
  }
  .page-container {
    .page-title {
      width: 180px;
      height: 180px;
      font-size: 34px;
    }
    .subtitle {
      font-size: 24px;
    }
    .contents {
      font-size: 16px;
    }
    .skills-page-contents {
      width: 40%;
      .skills-page-list-contents {
        font-size: 16px;
      }
    }
  }
  .projects-page-container {
    .projects-page-title {
      font-size: 34px;
    }
    .carousel-container {
      width: 80%;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;
      .carousel-image-title {
        font-size: 30px;
      }
      .carousel-image {
        width: 80%;
      }
      .circle-index-button-container {
        width: 160px;
        height: 40px;
        align-items: flex-end;
        .circle-index-button {
          width: 14px;
          height: 14px;
        }
      }
    }
    .thumnaillist-container {
      width: 70%;
      gap: 30px;
      img {
        height: 100%;
      }
    }
  }
  .experience-page-container {
    .experience-page-title {
      font-size: 34px;
      margin-bottom: 0;
    }
    .experience-page-subtitle {
      font-size: 24px;
    }
    .experience-page-middle-container {
      width: 80%;
    }
    .experience-page-box {
      padding: 0;
    }
    .experience-page-contents {
      padding: 5%;
    }
    .chevron-button-container {
      padding: 0;
      button {
        width: auto;
        height: auto;
      }
    }
    .experience-page-image-box {
      width: 60%;
      img {
        width: 90%;
      }
    }
    .experience-page-text {
      width: 40%;
      font-size: 16px;
    }
  }
  .howiworkpage-container {
    .howiworkpage-title {
      font-size: 34px;
    }
    .howiworkpage-contents {
      font-size: 18px;
    }
  }
}

// 너비 (960px ~ 1499px) x 높이 (800px ~ 899px)
@include laptop-900 {
  .page-container {
    .page-title {
      width: 180px;
      height: 180px;
      font-size: 36px;
    }
    .subtitle {
      font-size: 26px;
    }
    .contents {
      font-size: 18px;
    }
    .skills-page-contents {
      width: 50%;
    }
    .contact-page-subtitle {
      font-size: 20px;
    }
    .contact-page-contents {
      font-size: 18px;
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
  .projects-page-container {
    .projects-page-title {
      font-size: 36px;
    }
    .carousel-container {
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 20px;
      .carousel-image-title {
        font-size: 30px;
      }
      .carousel-image {
        width: 90%;
      }
      .circle-index-button-container {
        width: 160px;
        height: 80px;
        align-items: flex-end;
        .circle-index-button {
          width: 14px;
          height: 14px;
        }
      }
    }
    .thumnaillist-container {
      width: 80%;
      gap: 30px;
      img {
        height: 100%;
      }
    }
  }
  .experience-page-container {
    .experience-page-title {
      font-size: 36px;
      margin-bottom: 0;
    }
    .experience-page-subtitle {
      font-size: 26px;
    }
    .experience-page-middle-container {
      width: 80%;
    }
    .experience-page-box {
      padding: 0;
    }
    .experience-page-contents {
      padding: 5%;
    }
    .chevron-button-container {
      padding: 0;
      button {
        width: auto;
        height: auto;
      }
    }
    .experience-page-image-box {
      width: 60%;
      img {
        width: 90%;
        height: 100%;
      }
    }
    .experience-page-text {
      width: 40%;
      font-size: 16px;
    }
  }
  .howiworkpage-container {
    .howiworkpage-title {
      font-size: 36px;
    }
    .howiworkpage-contents {
      font-size: 20px;
    }
  }
}

// 너비 (1024px ~ 1499px) x 높이 (~ 699px)
@include laptop-700-support {
  .projects-page-container {
    .projects-page-title {
      width: 70%;
      font-size: 30px;
    }
    .projects-page-button-container {
      width: 70%;
      margin-bottom: 5px;
    }
    .carousel-container {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .carousel-image-title {
        font-size: 20px;
      }
      .carousel-image {
        width: 50%;
      }
      .chevron-button-container {
        padding: 0;
      }
    }
  }
}

// 너비 (1024px ~ 1499px) x 높이 (700px ~ 799px)
@include laptop-800-support {
  .projects-page-container {
    .projects-page-title {
      width: 70%;
      font-size: 34px;
    }
    .projects-page-button-container {
      width: 70%;
      margin-bottom: 5px;
    }
    .carousel-container {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;
      .carousel-image-title {
        font-size: 26px;
      }
      .carousel-image {
        width: 60%;
      }
    }
  }
}

@include mobile-landscape {
  .mainpage {
    .mainpage-text {
      font-size: 28px;
    }
    p::after {
      height: 32px;
    }
  }
  .header-container {
    padding: 10px 20px !important;
    .title {
      font-size: 24px;
    }
    .icon-container {
      width: 100px;
      button {
        height: 40px;
      }
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
  .page-container {
    height: auto;
    min-height: 100%;
    .page-title {
      width: 100px;
      height: 100px;
      font-size: 20px;
    }
    .subtitle {
      font-size: 12px;
    }
    .contents {
      font-size: 10px;
    }
    .page-contents {
      width: 40%;
    }
    .skills-page-contents {
      width: 45%;
      .subtitle {
        font-size: 12px;
      }
      .skills-page-list-contents {
        font-size: 10px;
      }
      .contents-detail {
        font-size: 8px;
      }
    }
    .contact-page-subtitle {
      font-size: 12px;
    }
    .contact-page-contents {
      font-size: 10px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  .projects-page-container {
    .projects-page-title {
      width: 80%;
      font-size: 20px;
    }
    .chevron-button-container {
      padding: 0;
      button {
        width: auto;
        height: auto;
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .projects-page-button-container {
      width: 80%;
      margin-bottom: 6px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .carousel-container {
      width: 80%;
      height: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 10px;
      .carousel-image-title {
        font-size: 14px;
      }
      .carousel-image {
        width: 50%;
      }
      .circle-index-button-container {
        width: 100px;
        height: 60px;
        align-items: center;
        .circle-index-button {
          width: 10px;
          height: 10px;
        }
      }
    }
    .thumnaillist-container {
      width: 60%;
      gap: 40px;
      img {
        height: 100%;
      }
    }
  }
  .modal-background {
    .modal-container {
      width: 60%;
      height: 70%;
      overflow-y: scroll;
      padding: 30px 20px;
      font-size: 8px;
      .modal-contents-container {
        width: 50%;
      }
      .modal-carousel-container {
        width: 50%;
        height: 100%;
        img {
          width: 100%;
        }
      }
      .modal-contents-title {
        font-size: 12px;
      }
      .modal-contents-date {
        font-size: 10px;
      }
      .modal-contents-summary {
        font-size: 10px;
      }
      .modal-close-button {
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .modal-github-link-container {
        font-size: 8px;
        margin-bottom: 10px;
        flex-direction: column;
        align-items: initial;
        svg {
          width: 10px;
          height: 10px;
        }
        a {
          font-size: 7px;
        }
      }
      .modal-skills-list {
        font-size: 10px;
        margin-top: 20px;
      }
    }
  }
  .experience-page-container {
    .experience-page-title {
      width: 80%;
      font-size: 20px;
      margin: 0;
    }
    .experience-page-subtitle {
      font-size: 12px;
    }
    .experience-page-middle-container {
      width: 80%;
    }
    .experience-page-box {
      padding: 0;
    }
    .experience-page-contents {
      padding: 6%;
    }
    .experience-page-contents {
      flex-direction: row;
    }
    .chevron-button-container {
      padding: 0;
      button {
        width: auto;
        height: auto;
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .experience-page-image-box {
      width: 50%;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .experience-page-text {
      width: 50%;
      font-size: 10px;
      margin-left: 20px;
    }
  }
  .howiworkpage-container {
    .howiworkpage-contents {
      font-size: 10px;
      line-height: 2;
    }
    .howiworkpage-title {
      font-size: 20px;
    }
  }
}
