@import './mixin';

//-----------width 반응형--------------------------//

// 1. 335px-534px
@include mobile {
  .mainpage {
    .mainpage-text {
      font-size: 28px;
    }
    p::after {
      height: 32px;
    }
  }
  .header-container {
    padding: 20px 20px 10px 20px;
    .title {
      font-size: 24px;
    }
    .icon-container {
      width: 100px;
      button {
        height: 40px;
        margin: 0;
      }
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
  .page-container {
    height: auto;
    min-height: 100%;
    .page-title {
      width: 100px;
      height: 100px;
      font-size: 20px;
    }
    .subtitle {
      font-size: 12px;
    }
    .contents {
      font-size: 10px;
    }
    .page-contents {
      width: 50%;
    }
    .skills-page-contents {
      width: 52%;
      .subtitle {
        font-size: 12px;
      }
      .skills-page-list-contents {
        font-size: 10px;
      }
      .contents-detail {
        font-size: 8px;
      }
    }
    .contact-page-subtitle {
      font-size: 12px;
    }
    .contact-page-contents {
      font-size: 10px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  .projects-page-container {
    .projects-page-title {
      width: 100%;
      font-size: 20px;
    }
    .chevron-button-container {
      padding: 0;
      button {
        width: auto;
        height: auto;
        margin: 0;
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .projects-page-button-container {
      width: 100%;
      margin-bottom: 20px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .carousel-container {
      width: 100%;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .carousel-image-title {
        font-size: 14px;
      }
      .carousel-image {
        width: 100%;
        height: 100%;
      }
      .circle-index-button-container {
        width: 100px;
        height: 40px;
        align-items: flex-end;
        .circle-index-button {
          width: 10px;
          height: 10px;
        }
      }
    }
    .thumnaillist-container {
      width: 90%;
      gap: 30px;
      button {
        margin: 0;
      }
      img {
        height: 100%;
      }
    }
  }
  .modal-background {
    .modal-container {
      width: 85%;
      height: 50%;
      overflow-y: scroll;
      padding: 30px 20px;
      font-size: 8px;
      .modal-contents-container {
        width: 50%;
      }
      .modal-carousel-container {
        width: 50%;
        height: 100%;
        img {
          width: 100%;
        }
      }
      .modal-contents-title {
        font-size: 12px;
      }
      .modal-contents-date {
        font-size: 10px;
      }
      .modal-contents-summary {
        font-size: 10px;
      }
      .modal-close-button {
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .modal-github-link-container {
        font-size: 8px;
        margin-bottom: 10px;
        flex-direction: column;
        align-items: initial;
        svg {
          width: 10px;
          height: 10px;
        }
        a {
          font-size: 7px;
        }
      }
      .modal-skills-list {
        font-size: 10px;
        margin-top: 20px;
      }
    }
  }
  .experience-page-container {
    .experience-page-title {
      width: 100%;
      font-size: 20px;
      margin: 0;
    }
    .experience-page-subtitle {
      font-size: 12px;
    }
    .experience-page-middle-container {
      width: 100%;
    }
    .experience-page-contents {
      flex-direction: column;
    }
    .chevron-button-container {
      padding: 0;
      button {
        width: auto;
        height: auto;
        margin: 0;
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .experience-page-image-box {
      width: 100%;
      align-items: center;
      img {
        width: 90%;
      }
    }
    .experience-page-text {
      width: 90%;
      font-size: 10px;
    }
  }
  .howiworkpage-container {
    .howiworkpage-contents {
      font-size: 10px;
      line-height: 2;
    }
    .howiworkpage-title {
      font-size: 20px;
    }
  }
}

// 2. 535px-719px
@include mobile-to-tablet {
  .mainpage {
    .mainpage-text {
      font-size: 34px;
    }
    p::after {
      height: 44px;
    }
  }
  .header-container {
    height: 40px;
    .title {
      font-size: 32px;
    }
    .icon-container {
      width: 100px;
      button {
        height: 40px;
      }
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
  .page-container {
    height: auto;
    min-height: 100%;
    .page-title {
      width: 140px;
      height: 140px;
      font-size: 30px;
    }
    .subtitle {
      font-size: 16px;
    }
    .contents {
      font-size: 12px;
    }
    .skills-page-contents {
      width: 52%;
      .subtitle {
        font-size: 16px;
      }
      .skills-page-list-contents {
        font-size: 12px;
      }
      .contents-detail {
        font-size: 10px;
      }
    }
    .contact-page-subtitle {
      font-size: 14px;
    }
    .contact-page-contents {
      font-size: 12px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  .projects-page-container {
    .projects-page-title {
      width: 80%;
      font-size: 30px;
    }
    .projects-page-button-container {
      width: 80%;
      margin-bottom: 20px;
      svg {
        width: 30px;
        height: 30px;
      }
    }
    .carousel-container {
      width: 80%;
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .carousel-image-title {
        font-size: 20px;
      }
      .carousel-image {
        width: 80%;
        height: 100%;
      }
      .circle-index-button-container {
        width: 120px;
        align-items: flex-end;
        .circle-index-button {
          width: 12px;
          height: 12px;
        }
      }
    }
    .thumnaillist-container {
      width: 80%;
      img {
        height: 100%;
      }
    }
  }
  .modal-background {
    .modal-container {
      width: 90%;
      height: 60%;
      overflow-y: scroll;
      padding: 40px 20px;
      font-size: 11px;
      p {
        line-height: 2;
      }
      .modal-contents-container {
        width: 50%;
      }
      .modal-carousel-container {
        width: 50%;
        height: 100%;
        img {
          height: 100%;
        }
      }
      .modal-contents-title {
        font-size: 16px;
      }
      .modal-contents-date {
        font-size: 10px;
      }
      .modal-contents-summary {
        font-size: 12px;
      }
      .modal-close-button {
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .modal-github-link-container {
        font-size: 10px;
        margin-bottom: 10px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .modal-skills-list {
        font-size: 12px;
        margin-top: 20px;
      }
    }
  }
  .experience-page-container {
    .experience-page-title {
      width: 80%;
      font-size: 30px;
      margin: 0;
    }
    .experience-page-subtitle {
      font-size: 20px;
    }
    .experience-page-middle-container {
      width: 80%;
    }
    .experience-page-contents {
      flex-direction: column;
    }
    .chevron-button-container {
      padding: 0;
      button {
        width: auto;
        margin: 0;
      }
    }
    .experience-page-image-box {
      width: 100%;
      align-items: center;
      img {
        width: 90%;
      }
    }
    .experience-page-text {
      width: 90%;
      font-size: 12px;
    }
  }
  .howiworkpage-container {
    .howiworkpage-title {
      font-size: 30px;
    }
    .howiworkpage-contents {
      font-size: 14px;
      line-height: 2;
    }
  }
}

// 3. 720px-959px
@include tablet {
  .mainpage {
    .mainpage-text {
      font-size: 40px;
    }
    p::after {
      height: 54px;
    }
  }
  .header-container {
    .title {
      font-size: 40px;
    }
    .icon-container {
      width: 160px;
      svg {
        width: 60px;
        height: 60px;
      }
    }
  }
  .page-container {
    height: auto;
    min-height: 100%;
    .page-title {
      width: 200px;
      height: 200px;
      font-size: 40px;
    }
    .subtitle {
      font-size: 20px;
    }
    .contents {
      font-size: 16px;
    }
    .skills-page-contents {
      width: 52%;
      .skills-page-list-contents {
        font-size: 16px;
      }
    }
  }
  .projects-page-container {
    .projects-page-title {
      width: 80%;
      font-size: 40px;
    }
    .projects-page-button-container {
      width: 80%;
      margin-bottom: 20px;
      svg {
        width: 40px;
        height: 40px;
      }
    }
    .carousel-container {
      width: 80%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .carousel-image-title {
        font-size: 30px;
      }
      .carousel-image {
        width: 80%;
        height: 100%;
      }
      .circle-index-button-container {
        width: 160px;
        align-items: flex-end;
        .circle-index-button {
          width: 16px;
          height: 16px;
        }
      }
    }
    .thumnaillist-container {
      width: 80%;
    }
  }
  .modal-background {
    .modal-container {
      width: 80%;
      height: 60%;
      overflow-y: scroll;
      padding: 40px 20px;
      font-size: 12px;
      .modal-contents-title {
        font-size: 24px;
      }
      .modal-contents-date {
        font-size: 12px;
      }
      .modal-contents-summary {
        font-size: 14px;
      }
      .modal-github-link-container {
        font-size: 10px;
        margin-bottom: 10px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .modal-skills-list {
        font-size: 12px;
      }
      .modal-carousel-container {
        height: 100%;
        img {
          height: 100%;
        }
      }
    }
  }
  .experience-page-container {
    .experience-page-title {
      width: 80%;
      font-size: 40px;
      margin: 0;
    }
    .experience-page-subtitle {
      font-size: 30px;
    }
    .experience-page-middle-container {
      width: 80%;
    }
    .experience-page-contents {
      flex-direction: column;
    }
    .chevron-button-container {
      padding: 0;
      button {
        width: auto;
        margin: 0;
      }
    }
    .experience-page-image-box {
      width: 100%;
      align-items: center;
      img {
        width: 90%;
      }
    }
    .experience-page-text {
      width: 90%;
      font-size: 16px;
    }
  }
  .howiworkpage-container {
    .howiworkpage-title {
      font-size: 40px;
    }
    .howiworkpage-contents {
      font-size: 18px;
    }
  }
}

// 4. 960px-1023px
@include tablet-to-laptop {
  .mainpage {
    .mainpage-text {
      font-size: 50px;
    }
  }
  .header-container {
    .title {
      font-size: 40px;
    }
    .icon-container {
      width: 160px;
      svg {
        width: 60px;
        height: 60px;
      }
    }
  }
  .page-container {
    height: auto;
    min-height: 100%;
    .page-title {
      width: 200px;
      height: 200px;
      font-size: 44px;
    }
    .subtitle {
      font-size: 24px;
    }
    .contents {
      font-size: 20px;
    }
    .skills-page-contents {
      .skills-page-list-contents {
        font-size: 20px;
      }
    }
  }
  .projects-page-container {
    .projects-page-title {
      width: 80%;
      font-size: 44px;
    }
    .projects-page-button-container {
      width: 80%;
      margin-bottom: 20px;
      svg {
        width: 40px;
        height: 40px;
      }
    }
    .carousel-container {
      width: 80%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .carousel-image-title {
        font-size: 40px;
      }
      .carousel-image {
        width: 80%;
        height: 80%;
      }
    }
    .thumnaillist-container {
      width: 80%;
    }
  }
  .modal-background {
    .modal-container {
      width: 80%;
      padding: 60px 40px;
      font-size: 14px;
      .modal-contents-title {
        font-size: 24px;
      }
      .modal-contents-date {
        font-size: 14px;
      }
      .modal-contents-summary {
        font-size: 16px;
      }
      .modal-github-link-container {
        font-size: 12px;
        svg {
          width: 30px;
          height: 30px;
        }
      }
      .modal-carousel-container {
        height: 100%;
        img {
          height: 100%;
        }
      }
    }
  }
  .experience-page-container {
    .experience-page-title {
      width: 80%;
      font-size: 44px;
    }
    .experience-page-subtitle {
      font-size: 30px;
    }
    .experience-page-middle-container {
      width: 80%;
    }
    .chevron-button-container {
      padding: 0;
    }
    .experience-page-image-box {
      width: 60%;
      img {
        width: 90%;
      }
    }
    .experience-page-text {
      width: 40%;
      font-size: 18px;
    }
  }
  .howiworkpage-container {
    .howiworkpage-title {
      font-size: 44px;
    }
    .howiworkpage-contents {
      font-size: 24px;
    }
  }
}

// 5. 1024px-1499px
@include laptop {
  .mainpage {
    .mainpage-text {
      font-size: 50px;
    }
  }
  .header-container {
    .title {
      font-size: 40px;
    }
    .icon-container {
      width: 160px;
      svg {
        width: 60px;
        height: 60px;
      }
    }
  }
  .page-container {
    height: auto;
    min-height: 100%;
    .page-title {
      width: 200px;
      height: 200px;
      font-size: 44px;
    }
    .subtitle {
      font-size: 24px;
    }
    .contents {
      font-size: 20px;
    }
    .skills-page-contents {
      .skills-page-list-contents {
        font-size: 20px;
      }
    }
  }
  .projects-page-container {
    .projects-page-title {
      width: 80%;
      font-size: 44px;
    }
    .projects-page-button-container {
      width: 80%;
      margin-bottom: 20px;
      svg {
        width: 40px;
        height: 40px;
      }
    }
    .carousel-container {
      width: 80%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .carousel-image-title {
        font-size: 30px;
      }
      .carousel-image {
        width: 80%;
        height: 80%;
      }
    }
    .thumnaillist-container {
      width: 80%;
    }
  }
  .modal-background {
    .modal-container {
      width: 80%;
      padding: 60px 40px;
      font-size: 14px;
      .modal-contents-title {
        font-size: 24px;
      }
      .modal-contents-date {
        font-size: 14px;
      }
      .modal-contents-summary {
        font-size: 16px;
      }
      .modal-github-link-container {
        font-size: 12px;
        svg {
          width: 30px;
          height: 30px;
        }
      }
      .modal-carousel-container {
        height: 100%;
        img {
          height: 100%;
        }
      }
    }
  }
  .experience-page-container {
    .experience-page-title {
      width: 80%;
      font-size: 44px;
    }
    .experience-page-subtitle {
      font-size: 30px;
    }
    .experience-page-middle-container {
      width: 80%;
    }
    .chevron-button-container {
      padding: 0;
    }
    .experience-page-image-box {
      width: 60%;
      img {
        width: 90%;
      }
    }
    .experience-page-text {
      width: 40%;
      font-size: 18px;
    }
  }
  .howiworkpage-container {
    .howiworkpage-title {
      font-size: 44px;
    }
    .howiworkpage-contents {
      font-size: 24px;
    }
  }
}

// 6. 1500px-1800px
@include laptop-to-desktop {
  .mainpage {
    .mainpage-text {
      font-size: 50px;
    }
  }
  .header-container {
    .title {
      font-size: 40px;
    }
    .icon-container {
      width: 160px;
      svg {
        width: 60px;
        height: 60px;
      }
    }
  }
  .page-container {
    height: auto;
    min-height: 100%;
    .page-title {
      width: 200px;
      height: 200px;
      font-size: 44px;
    }
    .subtitle {
      font-size: 24px;
    }
    .contents {
      font-size: 20px;
    }
    .skills-page-contents {
      .skills-page-list-contents {
        font-size: 20px;
      }
    }
  }
  .projects-page-container {
    .projects-page-title {
      width: 70%;
      font-size: 44px;
    }
    .projects-page-button-container {
      width: 70%;
      margin-bottom: 20px;
      svg {
        width: 40px;
        height: 40px;
      }
    }
    .carousel-container {
      width: 70%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 20px;
      .carousel-image-title {
        font-size: 30px;
      }
      .carousel-image {
        width: 70%;
        height: 70%;
      }
      .circle-index-button-container {
        width: 200px;
        height: 80px;
        align-items: start;
        .circle-index-button {
          width: 20px;
          height: 20px;
        }
      }
    }
    .thumnaillist-container {
      width: 80%;
    }
  }
  .modal-background {
    .modal-container {
      width: 50%;
      padding: 60px 40px;
      font-size: 14px;
      .modal-contents-title {
        font-size: 24px;
      }
      .modal-contents-date {
        font-size: 14px;
      }
      .modal-contents-summary {
        font-size: 16px;
      }
      .modal-github-link-container {
        font-size: 12px;
        svg {
          width: 30px;
          height: 30px;
        }
      }
      .modal-carousel-container {
        height: 100%;
        img {
          height: 100%;
        }
      }
    }
  }
  .experience-page-container {
    button {
      margin: 0;
    }
    .experience-page-title {
      width: 70%;
      font-size: 44px;
    }
    .experience-page-subtitle {
      font-size: 30px;
    }
    .experience-page-middle-container {
      width: 70%;
    }
    .chevron-button-container {
      padding: 0;
    }
    .experience-page-image-box {
      width: 60%;
      img {
        width: 90%;
        height: 90%;
      }
    }
    .experience-page-text {
      width: 40%;
      font-size: 18px;
    }
  }
  .howiworkpage-container {
    .howiworkpage-title {
      font-size: 44px;
    }
    .howiworkpage-contents {
      font-size: 24px;
    }
  }
}
