//width----------------------
// mobile
$mobile: 335px;

// mobile-to-tablet
$mobile-to-tablet: 535px;

// tablet
$tablet: 720px;

// tablet-to-laptop
$tablet-to-laptop: 960px;

// laptop
$laptop: 1024px;

// laptop-to-desktop
$laptop-to-desktop: 1500px;

// desktop
$desktop: 1800px;

//height----------------------
$landscape-600: 600px;

$landscape-800: 800px;

$landscape-1130: 1130px;
