@use 'colors' as *;

.carousel-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 70%;
  padding: 180px 10px 0 10px;
  transition: background-color 0.3s ease;
  overflow: hidden;
  box-sizing: border-box;
}

.mbtiDetectiveBg {
  background: $mbtiDetective;
}

.whiteBg {
  background: $white;
}

.billiGBg {
  background: $billiG;
}

.carousel-image-container {
  display: flex;
  transition: all 0.3s ease-out;
  align-items: center;
}

.carousel-image {
  transition: transform 0.5s ease;

  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel-image.active {
  transform: scale(1.1);
}

.chevron-button-container {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chevron-button {
  width: 50px;
  height: 60px;
  cursor: pointer;
  background: none;
  border: none;
}

.circle-index-button-container {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.circle-index-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $slateGray;
}

.circle-index-button.active {
  background: $white;
}

.circle-index-button.active.whiteBg {
  background: $lightSilver;
}
