@use 'colors' as *;

.contactpage-container {
    
  width: 100%;
  height: 100%;
}

.howiworkpage-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $midnightBlack;
  font-size: 26px;
  white-space: pre-line;
  text-align: center;
  line-height: 3;
  p:nth-of-type(1) {
    font-size: 50px;
    font-weight: 600;
    color: $royalPurple;
    margin-bottom: 20px;
  }
}
