@use 'colors' as *;
@use 'global';

.contact-page-contents {
  @include global.page-contents();
  gap: 20px;
  svg {
    width: 30px;
    height: 30px;
  }
}

@mixin subtitle($fontsize: 30px) {
  color: $lavenderBlue;
  font-size: $fontsize;
  font-weight: 600;
}

.contact-page-subtitle-container {
  display: flex;
  align-items: center;
  p {
    margin-left: 10px;
  }
}

.contact-page-subtitle {
  @include subtitle(20px);
}

.contact-page-contents {
  color: $charcoalGray;
  font-size: 16px;
  &:hover {
    color: $lightSilver;
  }
}
