@use 'colors' as *;

.experience-page-container {
  width: 100%;
  height: 100%;
  margin-top: 200px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experience-page-middle-container {
  width: 50%;
  height: 70%;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.experience-page-box {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  color: $midnightBlack;
  font-size: 20px;
}

.experience-page-title {
  width: 50%;
  color: $royalPurple;
  font-size: 50px;
  margin-bottom: 50px;
}

.experience-page-subtitle {
  width: 100%;
  color: $charcoalGray;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.experience-page-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience-page-image-box {
  display: flex;
  flex-direction: column;
}

.experience-page-text {
  display: flex;
  flex-direction: column;
  line-height: 3;
  a {
    font-weight: 600;
    &:hover {
      color: $lightSilver;
    }
  }
  p {
    white-space: pre-line;
  }
}
