@use 'colors' as *;

.experience-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experience-page-middle-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.experience-chevron-button-container {
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 1;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  svg {
    width: 40px;
    height: 40px;
  }
}

.experience-page-box {
  width: 100%;
  // padding: 5%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $midnightBlack;
  font-size: 20px;
}

.experience-page-title {
  width: 50%;
  color: $royalPurple;
  font-size: 36px;
  margin-bottom: 50px;
}

.experience-page-subtitle {
  width: 100%;
  color: $charcoalGray;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  // margin-bottom: 30px;
}

.experience-page-contents {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  // justify-content: space-between;
}

.experience-page-image-box {
  display: flex;
  flex-direction: column;
  img {
    width: 90%;
    height: 90%;
  }
}

.experience-page-text {
  display: flex;
  flex-direction: column;
  line-height: 3;
  a {
    font-weight: 600;
    &:hover {
      color: $lightSilver;
    }
  }
  p {
    font-size: 16px;
    white-space: pre-line;
  }
}
