@use 'reset';

@use 'colors' as *;

@use 'responsive';


.rootpage {
  padding: 30px 30px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.fullscreen-container {
  width: 100%;
  height: 100%;
}

.darkmode {
  background-color: $charcoalGray;
  div {
    color: $white;
    border-color: $white;
  }
  p {
    color: $white;
  }
  a {
    color: $white;
  }
  button {
    color: $white;
  }
  li {
    color: $white;
  }
  .page-title {
    border-color: $pastelLilac;
    color: $pastelLilac;
  }
  .subtitle {
    color: $pastelLilac;
  }
  .howiworkpage-container {
    p:nth-of-type(1) {
      color: $pastelLilac;
    }
  }
  .projects-page-title {
    color: $pastelLilac;
  }
  .experience-page-title {
    color: $pastelLilac;
  }
}

.lightmode {
  background-color: $white;
}

.page-container {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.page-title {
  color: $royalPurple;
  font-size: 70px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid $royalPurple;
  border-radius: 50%;
  margin-right: 4%;
}

.page-contents {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  div {
    margin-bottom: 20px;
  }
  line-height: 1.7;
  animation: fadein 2s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.subtitle {
  color: $lavenderBlue;
  font-size: 36px;
  font-weight: 600;
}

.contents {
  color: $charcoalGray;
  font-size: 24px;
}