@use 'reset';

@use 'colors' as *;

.rootpage {
  padding: 30px 30px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.fullscreen-container {
  width: 100%;
  height: 100%;
}

.darkmode {
  background-color: $charcoalGray;
}

.lightmode {
  background-color: $white;
}

.page-container {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  color: $royalPurple;
  font-size: 70px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid $royalPurple;
  border-radius: 50%;
  margin-right: 4%;
}

.page-contents {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.7;
  animation: fadein 2s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.subtitle {
  color: $lavenderBlue;
  font-size: 36px;
  font-weight: 600;
}

.contents {
  color: $charcoalGray;
  font-size: 24px;
}