@use 'reset';

@use 'colors' as *;

@use 'responsive';

.rootpage {
  padding: 30px 30px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.darkmode {
  background-color: $charcoalGray;
  div {
    color: $white;
    border-color: $white;
  }
  p {
    color: $white;
  }
  a {
    color: $white;
  }
  button {
    color: $white;
  }
  li {
    color: $white;
  }
  .page-title {
    border-color: $pastelLilac;
    color: $pastelLilac;
  }
  .subtitle {
    color: $pastelLilac;
  }
  .howiworkpage-container {
    p:nth-of-type(1) {
      color: $pastelLilac;
    }
  }
  .projects-page-title {
    color: $pastelLilac;
  }
  .experience-page-title {
    color: $pastelLilac;
  }
  .contact-page-subtitle {
    color: $pastelLilac;
  }
}

.lightmode {
  background-color: $white;
}

.page-container {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  box-sizing: border-box;
}

.page-title {
  color: $royalPurple;
  font-size: 30px;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid $royalPurple;
  border-radius: 50%;
}

@mixin page-contents {
  max-width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.7;
  animation: fadein 2s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.page-contents {
  @include page-contents();
  div {
    margin-bottom: 20px;
  }
}

.subtitle {
  color: $lavenderBlue;
  font-size: 20px;
  font-weight: 600;
}

.contents {
  color: $charcoalGray;
  font-size: 16px;
}

/* 스크롤바 디자인 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, $lightpastelLilac, $pastelLilac);
  border-radius: 10px;
  opacity: 0.7;
}
