@use 'colors' as *;

.header-container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.title {
  color: $deepNightBlue;
  font-weight: 500;
  font-size: 50px;
}

.icon-container {
  width: 198px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.darkmode {
  color: $lightSilver;
}
