@use 'colors' as *;

.header-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 30px 30px 10px 30px;
  background-color: $white;
}

.header-container.darkmode {
  background-color: $charcoalGray;
}

.title {
  color: $deepNightBlue;
  font-weight: 600;
  font-size: 24px;
}

.icon-container {
  width: 100px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
