@use 'colors' as *;

.howiworkpage-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $midnightBlack;
  font-size: 26px;
  white-space: pre-line;
  text-align: center;
}

.howiworkpage-title {
  font-size: 50px;
  font-weight: 600;
  color: $royalPurple;
  margin-bottom: 20px;
}

.howiworkpage-contents {
  line-height: 3;
}