.thumnaillist-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.thumnaillist-image-container {
  position: relative;
  &:hover {
      transform: scale(1.1);
      transition: all 0.2s ease-in-out;
  }
  button {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
