@use 'colors' as *;

.modal-carousel-container {
  width: 412px;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.modal-carousel-image-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.modal-carousel-image {
  width: 100%;
}
