@use 'colors' as *;

.projects-page-container {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    width: 50%;
  }
}

.projects-page-title {
  color: $royalPurple;
  font-size: 50px;
}

.projects-page-button-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  button {
    cursor: pointer;
    :hover {
      opacity: 0.6;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

