@use 'colors' as *;

.skills-page-container{
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-page-title{
    color:$royalPurple;
    font-size: 70px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid $royalPurple;
    border-radius: 50%;
    margin-right: 4%;
}

.skills-page-contents{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.7;
    animation: fadein 2s;
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

.subtitle{
    color:$lavenderBlue;
    font-size: 36px;
    font-weight: 600;
}

.contents{
    color:$charcoalGray;
    font-size: 24px;
    list-style: inside;
}

button {
    cursor: initial;
    margin-right: 10px;
}

.Database, .Front-End{
    cursor: pointer;
    border-radius: 20px;
    &:hover{
        background-color: $lightpastelLilac;
    }
}

.contents-detail{
    padding: 4px 4px;
    border-radius: 5px;
    border: 1px solid $pastelLilac;
}