@use 'colors' as *;


@mixin page-contents($height:50%) {
  height: $height;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.7;
  animation: fadein 2s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.skills-page-contents {
  @include page-contents(60%);
  width: 560px;
}

@mixin contents {
  color: $charcoalGray;
  font-size: 24px;
}

.skills-page-list-contents {
  @include contents;
  list-style: inside;
  margin-bottom: 10px;
}

button {
  cursor: initial;
  margin-right: 10px;
}

.Database,
.Front-End {
  cursor: pointer;
  border-radius: 20px;
  &:hover {
    background-color: $lightpastelLilac;
  }
}

.clicked-button {
  background-color: $lightpastelLilac;
}

.contents-detail {
  font-size: 16px;
  margin: 10px 0 30px 0;
  padding: 4px 4px;
  border-radius: 5px;
  border: 1px solid $pastelLilac;
  p:nth-of-type(odd) {
    font-weight: 600;
  }
}
