@use 'colors' as *;

.skills-list-box {
  max-height: 500px;
  overflow-y: auto;
}
.skills-page-list-contents {
  color: $charcoalGray;
  font-size: 16px;
  list-style: inside;
  margin-bottom: 10px;
}

.skills-button {
  cursor: initial;
  width: auto;
}
.margin-left {
  margin-left: 10px;
}

.Database,
.Front-End {
  cursor: pointer;
  border-radius: 20px;
  &:hover {
    background-color: $lightpastelLilac;
  }
}

.clicked-button {
  background-color: $lightpastelLilac;
}

.contents-detail {
  font-size: 16px;
  margin: 10px 0 30px 0;
  padding: 4px 4px;
  border-radius: 5px;
  border: 1px solid $pastelLilac;
  p:nth-of-type(odd) {
    font-weight: 600;
  }
}

.skills-detail-text {
  white-space: pre-wrap;
}
